.bar-chart {
    margin-bottom: 20px;
}

.bars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}


.bar-inner {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

.number-line {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
}

.bar-label {
    width: 100px;
}

canvas {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
  }


.bar-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
