body {
  background-image: url("/public/appbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



.logo {
  width: 90px;
  height: auto;
  margin-right: 20px;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.login-footer {
  margin-top: 1rem;
  color: black;
  font-size: 1rem;
  text-align: center;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffc813aa);
}
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 20px;
  }
}
