body {
  background-image: url("/public/appbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

/* .logo {
  height: 500px;
  will-change: filter;
  transition: filter 300ms;
  width: auto;
  margin-top: 100px;
  margin-right: 900px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.logo:hover {
  filter: drop-shadow(0 0 2em #ffc813aa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.sign-in-container {
  font-family: 'Courier Prime', Courier, monospace;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 200px;
  background-color: rgba(7, 4, 4, 0.9);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-footer{
  margin-top: 1rem;
  color: #000000;
  font-size: 1rem;
  text-align: center;
}

.login-body{
  height: 100vh;
  padding: 0 50px;
  flex-direction: row;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    align-items: center;
  }

  .logo-container {
    margin-bottom: 2rem;
  }

  .sign-in-container {
    width: 100%;

  }
}
